body{
    background-color: black;
}
img{
    width:200px ;
    border-radius: 50%;

   margin: 0 20PX  5PX 0;
 }
 .container:hover{
    
    transition: 0.3s;

 }
 footer{
   background-color: white;
 }
div{
    display: flex;
}
 .container{
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0 ,0 , 3);
    background-color: white;

  
 }
 .container h2{
    margin-bottom: 10px;
 }
 .container P{
    line-height: 1.4;
 }

 
 